.product-container {
  display: flex;
  margin:24px;
  flex-wrap: wrap;
  gap: 4px; /* Reduced spacing between the cards */
  justify-content: left;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 200px;
  text-align: center;
}

.product-card img {
width: 170px;
height: 170px;
margin-bottom: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 8px; /* Space between the buttons */
}

.product-card button {
  background-color: #04AA6D;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  flex: 1; /* Ensure buttons take equal width */
}

.product-card button:hover {
  background-color: #004d43;
}